@using EntityLayer.Concrete
@model List<TaskStatuse>
    <div>
        <h3 class="mb-0">Görev Yapım Durumu </h3>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Sil</th>
                <th>Güncelle</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>@item.TaskStatuseName</td>


                    <td><a href="~/TaskStatuse/Delete/@item.TaskStatuseID" class="btn btn-outline-danger">Sil</a></td>
                    <td><a href="~/TaskStatuse/Details/@item.TaskStatuseID" class="btn btn-outline-info">Güncelle</a></td>
                </tr>
            }
        </tbody>

    </table>
    <a href="~/TaskStatuse/Create/" class="btn btn-outline-success"> Durum Ekle</a>