@using EntityLayer.Concrete
@model List<Admin>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>SoyAd</th>
            <th>Email</th>
         
           


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>@item.AdminName</td>

                <td>@item.AdminSurname</td>

                <td>@item.AdminEmail</td>
                           
            </tr>
        }
    </tbody>

</table>
