@using EntityLayer.Concrete
@model List<Day>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Gün</th>
            <th>Görev</th>
            <th>Durumu</th>





        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>@item.DayTime</td>

                <td>@item.DayTaskContent</td>
                <td>@item.TaskStatuse.TaskStatuseName</td>


            </tr>
        }
    </tbody>

</table>
