@using EntityLayer.Concrete
@model Day

<div>
    <h3 class="mb-0">Günlük Görev Ekleme</h3>
</div>
@using (Html.BeginForm("Create", "Day", FormMethod.Post))
{

    @Html.Label("Hizmet Başlığı")
    @Html.TextBoxFor(ba => ba.DayTime, new { @class = "form-control" })

    <br />
    @Html.Label("Görsel Yolu")
    @Html.TextBoxFor(ba => ba.DayTaskContent, new { @class = "form-control" })

    <button class="btn btn-info">Kaydet</button>
}