@using EntityLayer.Concrete
@model Week

<div>
    <h3 class="mb-0">Haftalık Görev Ekleme</h3>
</div>
@using (Html.BeginForm("Create", "Week", FormMethod.Post))
{

    @Html.Label("Hafta")
    @Html.TextBoxFor(ba => ba.WeekTime, new { @class = "form-control" })

    <br />
    @Html.Label("İçerik")
    @Html.TextBoxFor(ba => ba.WeekTaskContent, new { @class = "form-control" })

    <button class="btn btn-info">Kaydet</button>
}