@using EntityLayer.Concrete
@model List<Week>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Gün</th>
            <th>İçerik</th>
            <th>Bitiş</th>
            <th>Sil</th>
            <th>Güncelle</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


        <tr>
            <td>@item.WeekTime</td>

            <td>@item.WeekTaskContent</td>

            <td>@item.WeekTaskFinishTime</td>
            <td><a href="~/Week/Delete/@item.WeekID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="~/Week/Details/@item.WeekID" class="btn btn-outline-danger">Güncelle</a></td>
        </tr>
        }
    </tbody>

</table>
<a href="~/Week/Create/" class="btn btn-outline-danger">Ekle</a>