@using EntityLayer.Concrete
@model List<Week>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Hafta</th>
            <th>Görev</th>
            <th>Durumu</th>





        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>@item.WeekTime</td>

                <td>@item.WeekTaskContent</td>
                <td>@item.TaskStatuse.TaskStatuseName</td>


            </tr>
        }
    </tbody>

</table>
