
@{
    ViewData["Title"] = "Day";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Günlük Görevler </h3>
</div>

<div class="row">
    <div class="col-sm-11">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Günlük Görevler</h5>
                @await Component.InvokeAsync("DayList")
            </div>
        </div>
    </div>
   
</div>
