@using EntityLayer.Concrete
@model List<Admin>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>SoyAd</th>
            <th>Email</th>
            <th>Password</th>
            <th>Sil</th>
            <th>Güncelle</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>@item.AdminName</td>

                <td>@item.AdminSurname</td>

                <td>@item.AdminEmail</td>
                <td>@item.AdminPassword</td>
                <td><a href="~/Admin/Delete/@item.AdminID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="~/Admin/Details/@item.AdminID" class="btn btn-outline-danger">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<a href="~/Admin/Create/" class="btn btn-outline-danger">Ekle</a>